.font-bold () {
  font-family: @font-regular;
  font-weight: @bold;
}

.font-light() {
  font-family: @font-regular;
  font-weight: @light;
}

.text-decoration() {
  text-decoration: none;
}

.text-align() {
  text-align: center;
}

.centerize() {
  margin: 0 auto;
}

.letter-spacing() {
  letter-spacing: 0.5px;
}

.margin-top(@margin-top: 40px) {
  margin-top: @margin-top;
}

.list-style() {
  list-style: none;
}

.zero-margin() {
  margin: 0;
}

.zero-padding() {
  padding: 0;
}

.background-white() {
  background: #ffffff;
}

.no-borders() {
  border: none;
}

.pointer() {
  cursor: pointer;
}

.display-none() {
  display: none;
}

.display-block() {
  display: block;
}

.display-inlineblock() {
  display: inline-block;
}

.vertical-align(@vertical-align: top) {
  vertical-align: @vertical-align;
}

.flex() {
  display: flex;
}

.white-space() {
  white-space: pre;
}

.container() {
  width: 320px;
  margin: 0 auto;
  @media @tablet-widths {
    width: 660px;
  }
  @media @desktop-widths {
    width: 960px;
  }
}
