@font-regular: "Open Sans";
@font-size: 18px;
@line-height: 32px;
@font-color: #ffffff;
@font-red: #d22856;
@font-black: #000000;
@link-bg: #283645;
@controls-bg: #1d2631;
@white-bg: #ffffff;
@description-bg: #f2f2f2;
@slider-border: #e5e5e5;