.review-slider__username {
	.text-align();
	font-size: @font-size;
	line-height: @line-height - 2;
	.font-bold ();
	letter-spacing: 0.5px;
	.margin-top(0);
}

.review-slider__opinion {
	.text-align();
	.white-space();
	font-size: @font-size - 4;
	line-height: @line-height - 2;
	margin-bottom: 25px;
	
}