.research {
  .display-none();
}

@media @tablet-widths {
  .research {
    display: flex;
    justify-content: center;
    padding-top: 59px;
    padding-bottom: 70px;
  }
  .research__image {
    position: relative;
    width: 242px;
    height: 281px;
    background: url("@{img-url}/icon-timer.svg") no-repeat;
    background-size: cover;
  }
  .research__image::before {
    content: "";
    position: absolute;
    width: 202px;
    height: 202px;
    top: 20%;
    left: 8%;
    background: url("@{img-url}/icon-editor-diagram-fill.svg") no-repeat;
    background-size: cover;
    z-index: 1;
  }
  .research__time {
    display: block;
    margin-top: 80px;
    text-align: center;
    font-size: 96px;
    line-height: 150px;
    color: @font-red;
    font-weight: 700;
  }
  .research__info {
    margin-left: 70px;
  }
  .research__heading {
    width: 200px;
    display: block;
    .zero-margin();
    font-size: 33px;
    .font-bold ();
    line-height: 35px;
    margin-top: 38px;
    padding-right: 40px;
  }
  .research__text {
    width: 308px;
    .zero-margin();
    margin-top: 10px;
    color: @link-bg;
    font-size: 14px;
    line-height: 24px;
  }
  .research__link {
    width: 230px;
    display: block;
    margin-top: 8px;
    color: #d22856;
    text-decoration: underline;
    font-size: 14px;
    &:hover {
      color: #283645;
    }
    &:active {
      color: #ced0d2;
      text-decoration: none;
    }
  }
}

@media @desktop-widths {
  .research {
    display: flex;
    justify-content: space-between;
    background: @description-bg;
  }
  .research__image {
    margin-top: 53px;
    margin-left: 13px;
    width: 298px;
    height: 345px;
    background: url("@{img-url}/icon-timer.svg") no-repeat;
  }
  .research__image::before {
    width: 253px;
    height: 253px;
  }
  .research__time {
    margin-top: 100px;
    font-size: 120px;
    line-height: 186px;
  }
  .research__info {
    margin-top: 138px;
    margin-right: 54px;
  }
  .research__heading {
    display: block;
    width: 400px;
    .font-bold ();
    .zero-margin();
    padding: 0;
    font-size: 30px;
    margin-top: 10px;
    line-height: 30px;
  }
  .research__text {
    width: 530px;
    display: block;
    .zero-margin();
    margin-top: 25px;
    font-size: 18px;
    line-height: 30px;
  }
  .research__link {
    width: 300px;
    display: block;
    margin-top: 32px;
    color: #d22856;
    text-decoration: underline;
    font-size: 18px;
    line-height: 24px;
  }
}
