.header-stripe {
	.flex();
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
	height: 65px;
	background: rgba(0, 0, 0, 0.3);
	&--bg {
		background: @link-bg;
	}
}

.header-stripe__logo {
	.margin-top(20px);
	padding: 0px 40px 0px 40px;
	background: url('@{img-url}/logo-pink-white-mobile.svg') no-repeat;
	&:hover {
		background: url('@{img-url}/logo-pink-white-mobile-hover.svg') no-repeat;
	}
	&:active {
		background: url('@{img-url}/logo-pink-white-mobile-active.svg') no-repeat;
	}
}

.header-stripe__toggle--closed {
	background: transparent url("@{img-url}/icon-menu-burger.svg") no-repeat;
}

.header-stripe__toggle--closed:hover {
	background: transparent url("@{img-url}/icon-menu-burger-hover.svg") no-repeat;
}

.header-stripe__toggle--closed:active {
	background: transparent url("@{img-url}/icon-menu-burger-active.svg") no-repeat;
}

.header-stripe__toggle--opened {
	background: transparent url("@{img-url}/icon-menu-cross.svg") 27px 0px no-repeat;
	&:hover {
		background: transparent url("@{img-url}/icon-menu-cross-hover.svg") 27px 0px no-repeat;
	}
	&:active {
		background: transparent url("@{img-url}/icon-menu-cross-active.svg") 27px 0px no-repeat;
	}
}

@media @tablet-widths {
	.header-stripe {
		.flex();
		height: 110px;
		padding-left: 20px;
		padding-right: 20px;
		background: rgba(0, 0, 0, 0.3);
		&--bg {
			background: @link-bg;
		}
		&--background {
			background: url("@{img-url}/bg-back-mobile@1x.jpg") no-repeat;
			background-size: cover;
		}
	}
	.header-stripe__toggle--closed {
		margin-top: 45px;
	}
	.header-stripe__toggle--opened {
		margin-top: 45px;
	}
	.header-stripe__logo {
		.margin-top(27px);
		padding: 21px 76px;
		font-size: 0;
		background: url("@{img-url}/logo-pink-white-tablet.svg") no-repeat;
		&:hover {
			background: url("@{img-url}/logo-pink-white-tablet-hover.svg") no-repeat;
		}
		&:active {
			background: url("@{img-url}/logo-pink-white-tablet-active.svg") no-repeat;
		}
	}
}

@media @desktop-widths {
	.header-stripe {
		position: absolute;
		width: 152px;
		height: 0;
		padding: 0;
		margin: 0;
		z-index: 1;
		margin-left: 10px;
	}
	.header-stripe__logo {
		.display-block();
		width: 170px;
		height: 30px;
		padding: 20px 20px;
		background: url('@{img-url}/logo-pink-white-desktop.svg') no-repeat;
		cursor: pointer;
		&:hover {
			background: url('@{img-url}/logo-pink-white-desktop-hover.svg') no-repeat;
		}
		&:active {
			background: url('@{img-url}/logo-pink-white-desktop-active.svg') no-repeat;
		}
	}
	.header-stripe__toggle {
		display: none;
	}
}