@media @mobile-widths {
  .wrapper--nojs {
    background: #283645;
  }
  .wrapper--header {
    background: #283645 url("@{img-url}/bg-back-mobile@1x.jpg") top center no-repeat;
  }
  @media @retinaMobile {
    .wrapper--header {
      background: #283645 url("@{img-url}/bg-back-mobile@2x.jpg") top center no-repeat;
    }
  }
  .wrapper--features {
    background: @description-bg;
  }
  .wrapper--photo {
    background: #f2f2f2;
    width: 280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
}

@media @tablet-widths {
  .wrapper--header {
    background:#283645 url("@{img-url}/bg-back-tablet@1x.jpg") top center no-repeat;
  }
  @media @retinaTablet {
    .wrapper--header {
      background:#283645 url("@{img-url}/bg-back-tablet@2x.jpg") top center no-repeat;
    }
  }
  .wrapper--flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
  }
  .wrapper--photo {
    width: 620px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #f2f2f2;
    margin: 0 auto;
    display: flex;
  }
  .wrapper--margin {
    margin-top: 53px;
  }
  .wrapper--functional {
    padding-bottom: 52px;
  }
}

@media @desktop-widths {
  .wrapper--header {
    position: relative;
    background: transparent;
  }
  @media @retinaDesktop {
    .wrapper--header {
      background: transparent;
    }
  }
  .wrapper--menu {
    background: rgba(0, 0, 0, 0.3);
    .flex();
    justify-content: flex-end;
    width: 100%;
  }
  .wrapper--flex {
    padding: 0 10px;
  }
  .wrapper--inline-block {
    display: inline-block;
    vertical-align: top;
  }
  .wrapper--form {
    width: 250px;
    height: 229px;
    margin-left: 58px;
  }
  .wrapper--photo {
    width: 940px;
  }
  .wrapper--center {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .wrapper--margin {
    margin-top: 23px;
  }
}
