.index-footer {
  position: relative;
  height: 572px;
  background: url("@{img-url}/bg-map-mobile@1x.png") no-repeat 0 152px;
}

@media @retinaMobile {
  .index-footer {
    background: url("@{img-url}/bg-map-mobile@2x.jpg") no-repeat;
    background-size: cover;
  }
}

.index-footer__heading {
  font-size: 24px;
  line-height: 26px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  margin: 0;
  .margin-top();
  .text-align();
  color: #283645;
  .background-white();
}

.index-footer__contact {
  .background-white();
  .zero-margin();
  &--order {
    position: relative;
  }
}

.index-footer__section {
  .background-white();
  padding-top: 19px;
}

.index-footer__text {
  .zero-margin();
  .text-align();
  .font-bold ();
  font-size: @font-size + 1;
  padding: 19px 0 0 0;
}

.index-footer__info {
  .text-align();
  .zero-margin();
  color: @font-red;
  font-size: @font-size + 5;
  line-height: 28px;
  &--link {
    .display-block();
    .text-decoration();
  }
  &--padding {
    padding-bottom: 39px;
  }
}

.index-footer__contact--order::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  top: 221px;
  right: 0;
  background: transparent;
  border: 158px solid transparent;
  border-top: 31px solid #ffffff;
  z-index: 2;
}

.index-footer__map {
  display: block;
  margin: 0 auto;
  width: 320px;
  height: 209px;
}

@media @tablet-widths {
  .index-footer {
    height: 735px;
    background: url("@{img-url}/bg-map-tablet@1x.jpg") no-repeat center -74%;
  }
  @media @retinaTablet {
    .index-footer {
      background: url("@{img-url}/bg-map-tablet@2x.jpg") no-repeat center 55%;
    }
  }
  .index-footer__heading {
    .zero-margin();
    font-size: 40px;
    line-height: 50px;
  }
  .index-footer__section {
    background: #ffffff;
    padding-top: 8px;
  }
  .index-footer__contact {
    .display-inlineblock();
    .vertical-align();
    margin-top: 21px;
    margin-left: 72px;
    &--order {
      margin-left: 92px;
    }
  }
  .index-footer__contact--order::after {
    top: 229px;
    right: -50px;
    border: 329px solid transparent;
    border-top: 72px solid #ffffff;
  }
  .index-footer__text {
    padding: 13px 0 0;
  }
  .index-footer__info--padding {
    padding-bottom: 30px;
  }
  .index-footer__contact--triangle {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
  }
  .index-footer__map {
    width: 660px;
    height: 373px;
  }
}

@media @desktop-widths {
  .index-footer {
    margin-top: 65px;
    height: 798px;
    background: url("@{img-url}/bg-map-desktop@1x.jpg") no-repeat center 25px;
  }
  @media @retinaDesktop {
    .index-footer {
      background: url("@{img-url}/bg-map-desktop@2x.jpg") no-repeat 50% 46%;
    }
  }
  .index-footer__heading {
    .zero-margin();
    font-size: 50px;
    line-height: 56px;
  }
  .index-footer__contact {
    margin: 40px 0 0 55px;
    &--order {
      order: 2;
      margin-top: 40px;
      margin-right: 35px;
      margin-left: 30px;
    }
  }
  .index-footer__contact--order::after {
    top: 148px;
    right: -36px;
    border: 478px solid transparent;
    border-top: 105px solid #ffffff;
  }
  .index-footer__triangle {
    width: 960px;
    height: 105px;
    position: absolute;
    z-index: 1;
  }
  .index-footer__section {
    .flex();
    padding: 0;
    justify-content: space-between;
  }
  .index-footer__text {
    margin-bottom: 26px;
  }
  .index-footer__info--padding {
    padding-bottom: 24px;
  }
  .index-footer__map {
    width: 960px;
    height: 500px;
  }
}
