.footer__logo {
	.display-block();
	.margin-top();
	.text-align();
	.footer__glasses {}
}

.footer-social {
	.list-style();
	.zero-margin();
	.margin-top();
	padding: 0;
}

.footer-social__item {
	.display-inlineblock();
	.vertical-align();
	margin-right: 10px;
}

.footer-social__link {
	.display-block();
	border: 3px solid #e9ebec;
	border-radius: 50%;
	width: 45px;
	height: 45px;
}

.footer-social__link--tw {
	margin-left: 71px;
	background: url("../../../img/icon-twitter.svg") no-repeat 50% 50%;
}

.footer-social__link--fb {
	background: url("../../../img/icon-facebook.svg") no-repeat 50% 50%;
}

.footer-social__link--yt {
	background: url("../../../img/icon-youtube.svg") no-repeat 50% 50%;
}

.footer-copyright__text {
	.display-inlineblock();
	.vertical-align();
	
}

.footer-copyright {
	.text-align();
	.display-block();
	.text-decoration();
	.margin-top();
	margin-bottom: 40px;
	color: @link-bg;
	font-size: @font-size - 4;
	line-height: @line-height - 14;
}

.footer-copyright__logo {
	.display-inlineblock();
	.vertical-align();
}