.standart-footer {
	display: none;
}

.footer__logo {
	.display-block();
	.margin-top();
	.text-align();
	.footer__glasses {}
}

.footer-social {
	.list-style();
	.zero-margin();
	.margin-top();
	padding: 0;
}

.footer-social__item {
	.display-inlineblock();
	.vertical-align();
	margin-right: 10px;
}

.footer-social__link {
	.display-block();
	border: 3px solid #e9ebec;
	border-radius: 50%;
	width: 45px;
	height: 45px;
}

.footer-social__link--tw {
	margin-left: 71px;
	background: url("@{img-url}/icon-twitter.svg") no-repeat 50% 50%;
}

.footer-social__link--fb {
	background: url("@{img-url}/icon-facebook.svg") no-repeat 50% 50%;
}

.footer-social__link--yt {
	background: url("@{img-url}/icon-youtube.svg") no-repeat 50% 50%;
}

.footer-copyright__text {
	.display-inlineblock();
	.vertical-align();
}

.footer-copyright {
	.text-align();
	.display-block();
	.text-decoration();
	.margin-top();
	margin-bottom: 40px;
	color: @link-bg;
	font-size: @font-size - 4;
	line-height: @line-height - 14;
}

.footer-copyright__logo {
	.display-inlineblock();
	.vertical-align();
}

@media @tablet-widths {
	.standart-footer, .standart-footer--tablet {
		width: 620px;
		display: flex;
		justify-content: space-between;
		padding-left: 40px;
		padding-right: 40px;
		
	}
	
	
	.footer-social__item {
		
		margin: 0;
	}
	.footer-social__link {
		
		margin: 0;
	}
}

@media @desktop-widths{
	.standart-footer--desktop{
		width: 940px;
		padding-left: 130px;
		padding-right: 130px;
	}
	.footer__logo{
		margin-top: 98px;
	}
	.footer-social{    width: 170px;
		margin-top: 100px;
	}
	.footer-copyright{
		margin-top: 100px;
	}
	
}
