.form-textarea__textarea {
  width: 280px;
  height: 200px;
  box-sizing: border-box;
  border: 2px solid #e5e5e5;
  color: @link-bg;
  font-size: 19px;
  line-height: @line-height - 2;
  padding: 15px 20px 20px 20px;
}

.form-textarea__textarea::-webkit-input-placeholder {
  color: @link-bg;
  font-size: 18px;
  line-height: @line-height - 2;
  font-weight: 300;
}

@media @tablet-widths {
  .form-textarea__textarea {
    width: 496px;
    height: 194px;
    margin-top: 37px;
    color: @link-bg;
    font-size: 18px;
    padding-left: 16px;
    letter-spacing: 0.5px;
  }
}

@media @desktop-widths {
  .form-textarea__textarea {
    width: 818px;
    height: 126px;
  }
}
