.form-content {
	background: @link-bg url("@{img-url}/bg-back-mobile@1x.jpg") no-repeat 50% 65%;
}

.form-heading {
	font-size: @font-size + 6;
	line-height: @line-height - 4;
	color: @font-color;
	.font-light();
	.margin-top();
	.text-align();
	.zero-margin();
	padding-top: 30px;
	padding-bottom: 56px;
}

