.form-field__label {
  .display-block();
  font-size: @font-size - 4;
  line-height: @line-height - 2;
  color: @font-red;
  padding-left: 22px;
  padding-bottom: 5px;
}

.form-field--margin {
  margin-top: 30px;
}

.form-field__origin {
  width: 280px;
  box-sizing: border-box;
  padding: 20px 20px;
  border: 2px solid #e5e5e5;
  margin-bottom: 17px;
  &--:hover {
    border-color: @link-bg;
  }
  &:focus {
    border-color: @font-red;
  }
}

.form-field__origin::-webkit-input-placeholder {
  color: @link-bg;
  font-size: @font-size;
  line-height: @line-height - 2;
  .letter-spacing();
}

.form-field__origin::-moz-placeholder {
  color: @link-bg;
  opacity: 1;
  font-size: @font-size;
  line-height: @line-height - 2;
  .letter-spacing();
}

.form-field__origin::-ms-input-placeholder {
  color: @link-bg;
  opacity: 1;
  font-size: @font-size;
  line-height: @line-height - 2;
  .letter-spacing();
}

@media @tablet-widths {
  .form-field--flex {
    display: flex;
    justify-content: space-between;
  }
  .form-field--tablet {
    margin-top: 54px;
  }
  .form-field__label {
    padding: 0;
    padding-top: 20px;
  }
  .form-field__origin {
    width: 525px;
    margin: 0;
    padding: 19px 16px;
    margin-left: 16px;
    &--tablet {
      width: 566px;
    }
  }
  .form-field--order {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-left: 58px;
    margin-right: 30px;
  }
  .form-field--margin {
    position: relative;
    margin-top: 38px;
  }
  .form-field--margin::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 438px;
    width: 60px;
    height: 58px;
    background: #e5e5e5 url("@{img-url}/icon-phone.svg") no-repeat 50% 50%;
    z-index: 1;
  }
  .form-field--margin::after {
    content: "";
    position: absolute;
    top: 131px;
    right: 30px;
    width: 60px;
    height: 58px;
    background: #e5e5e5 url("@{img-url}/icon-mail.svg") no-repeat 50% 50%;
    z-index: 1;
  }
  .form-field__origin--order1 {
    width: 500px;
    order: 1;
    margin: 0;
    padding: 0;
    padding-top: 21px;
    padding-bottom: 17px;
    padding-left: 15px;
    padding-right: 76px;
  }
  .form-field__label--order2 {
    order: 2;
    margin: 0;
    padding-left: 19px;
    padding-top: 12px;
    padding-bottom: 25px;
  }
}

@media @desktop-widths {
  .form-field__origin {
    width: 340px;
    margin-left: 19px;
    &--tablet {
      width: 382px;
    }
  }
  .form-field--flex {
    justify-content: flex-start;
    width: 470px;
  }
  .form-field--order {
    margin: 0;
    width: 410px;
    margin-top: 34px;
  }
  .form-field--margin {
    margin-right: 30px;
  }
  .form-field__label--order2 {
    padding-left: 34px;
    padding-bottom: 13px;
  }
  .form-field--margin::before {
    top: 2px;
    left: 328px;
  }
  .form-field--margin::after {
    top: 2px;
    left: 768px;
  }
  .form-field__origin--order1 {
    width: 371px;
  }
}
