.form-fail {
	display: none;
	
	width: 320px;
	height: 290px;
	background-image: @font-color;
	box-shadow: 0px 3px 20px 0px rgba(50, 50, 50, 0.75);
}

.form-fail__confirmation {
	.text-align();
	.font-bold ();
	font-size: @font-size + 1;
	.zero-margin();
	padding-top: 40px;
}

.form-fail__ok {
	margin: 40px 20px 0 20px;
	.no-borders();
	border-radius: 3px;
	background: #2aab6d;
	color: @font-color;
	font-size: @font-size - 1;
	line-height: @line-height - 2;
	.font-bold ();
	padding: 16px 128px;
	cursor: pointer;
}

.form-fail__description {
	display: block;
	.zero-margin();
	.text-align();
	font-size: @font-size - 4;
	color: @link-bg;
	padding-top: 26px;
	padding-left: 20px;
	padding-right: 20px;
	line-height: @line-height - 9px;
}

@media @tablet-widths {
	.form-fail__description {
		font-size: 18px;
		padding-left: 80px;
		padding-right: 80px;
	}
	.form-fail {
		width: 460px;
		height: 362px;
	}
	.form-fail__confirmation {
		font-size: 32px;
		padding-left: 92px;
		padding-right: 92px;
	}
	.form-fail__ok {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding: 16px 138px;
	}
}

@media @desktop-widths {
	.form-fail__confirmation {
		font-size: 32px;
	}
}