.fieldset {
	.no-borders();
	.zero-margin();
	padding: 0 20px;
}


.form-field__label {
	.display-block();
	font-size: @font-size - 4;
	line-height:  @line-height - 2;
	color: @font-red;
	padding-left: 22px;
	padding-bottom: 5px;
}

.form-field__origin {
	width: 280px;
	box-sizing: border-box;
	padding: 22px 20px;
	border: 2px solid #e5e5e5;
	margin-bottom: 17px;
}

.form-field__origin::-webkit-input-placeholder {
	color: @link-bg;
	font-size: @font-size;
	line-height: @line-height - 2;
	.letter-spacing();
}

.form-field__origin::-moz-placeholder {
	color: @link-bg;
	opacity: 1;
	font-size: @font-size;
	line-height: @line-height - 2;
	.letter-spacing();
}

.form-field__origin::-ms-input-placeholder {
	color: @link-bg;
	opacity: 1;
	font-size: @font-size;
	line-height: @line-height - 2;
	.letter-spacing();
}
.fieldset--margin{
	.margin-top(32px;);
}