.photo-post {
  padding-left: 20px;
  padding-right: 20px;
  background: @description-bg;
}

.photo-post__content {
  display: flex;
  flex-direction: column;

  .margin-top(-8px);
  margin-bottom: 20px;
}

.photo-post__info {
  padding-top: 13px;
}

.photo-post__username {
  font-size: @font-size - 4;
  color: @link-bg;
  .font-bold ();
  padding-left: 16px;
}

.photo-post__when {
  .zero-margin();
  .font-light();
  font-size: @font-size - 7;
  color: @link-bg;
}

.photo-post__usermessage {
  font-size: @font-size - 4;
  color: @link-bg;
  text-align: left;
  padding-left: 17px;
}

.photo-post__usermessage p {
  .zero-margin();
  line-height: 22px;
}

.photo-post__controls {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.photo-post__likes-number {
  .display-inlineblock();
  .vertical-align(baseline);
  .zero-margin();
  color: @font-red;
  font-size: @font-size - 6;
  padding-left: 10px;
}

@media @tablet-widths {
  .photo-post {
    width: 300px;
    margin-bottom: 20px;
    padding: 0;
  }
  .photo-post__content {
    margin: 0;
    width: 300px;
   min-height: 155px;
  }
  .photo-post__photo {
    width: 300px;
    height: 300px;
    display: block;
  }
  .photo-post__controls {
    padding: 0;
  }
  .photo-post__username {
    padding-left: 28px;
  }
  .photo-post__info {
    padding-top: 19px;
  }
  .photo-post__usermessage {
    padding-left: 28px;
   min-height: 50px;
  }
  .photo-post__controls {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }
  .photo-post__likes-number {
    padding-left: 27px;
    padding-top: 5px;
  }
}

@media @desktop-widths {
  .photo-post {
    margin-top: 27px;
    margin-bottom: 27px;
  }
  .photo-post__photo {
    height: 400px;
  }
}
