.photo-content {
	background: url("@{img-url}/bg-back-mobile@1x.jpg") no-repeat 50% 65%;
}

.photo-content__heading {
	font-family: @font-regular;
	font-size: @font-size + 6;
	line-height: @line-height - 4;
	color: @font-color;
	.font-light();
	.margin-top();
	.text-align();
	.zero-margin();
	padding-top: 30px;
	padding-bottom: 84px;
}

@media @tablet-widths {
	.photo-content {
		height: 558px;
		background-size: cover;
	}
	.photo-content__heading {
		font-size: 48px;
		line-height: 61px;
		padding-top: 68px;
		padding-bottom: 140px;
	}
}

@media @desktop-widths {
	.photo-content {
		height: 524px;
	}
	.photo-content__heading {
		padding-bottom: 94px;
	}
}